.map {
    min-height: 90px;
    max-height: 100%;

    width: 1118px;
    
    margin: 71px 401px 59px;

    border: 1px solid #ed3024;
    border-radius: 10px;

    .headForm {
        margin-top: 30px;
        margin-bottom: 30px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        #update {
            margin-right: 195px;
        }
        #dateCreate {
            margin-right: 123px;
        }
        #name {
            margin-right: 498px;
        }

        p {
            color: black;
            font-size: 16px;
            line-height: 21px;
            font-weight: 700;

        }
    }

    .btnAdd {
        width: 170px;
        height: 46px;

        font-size: 16px;
        line-height: 21px;
        font-weight: 600;

        margin-top: 31xp;
        margin-bottom: 30px;
        margin-right: 46px;
    }
}

@media (max-width: 1200px) {
    .map {
        margin-left: 40px;
    }
}

@media (max-width: 992px) {
    .map {
        width: 800px;
        margin-left: 100px;
        .headForm {
           
            #name {
                margin-right: 187px;
            }
         }
    }
}

@media (max-width: 768px) {
    .map {
        width: 700px;
       
        margin: calc(34px*768px/992px) 50px calc(27px*992px/992px);
        .headForm {
            margin-top: calc(13px*768px/992px);
            margin-bottom: calc(13px*768px/992px);
           
            p {
                font-size: 15px;
            }

            #update {
                margin-right: 145px;
            }
            #dateCreate {
                margin-right: 75px;
            }
            #name {
                margin-right: 200px;
            }
         }
         .btnAdd {
            width: 150px;
            height: 40px;

            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
        }
    }
}

@media (max-width: 480px) {
    .map {
        width: 475px;
        margin-left: 2px;
        .headForm {

            p {
                font-size: 12px;
            }

            #update {
                margin-right: 100px;
            }

            #dateCreate {
                margin-right: 50px;
            }

            #name {
                margin-right: 105px;
            }
        }
        .btnAdd {
            width: 110px;
            height: 30px;
    
            font-size: 12px;

            margin-left: 32px;
        }

    }
}

@media (max-width: 320px) {
    .map {
        width: 315px;
        margin-left: 2px;
        .headForm {

            #update {
                margin-right: 60px;
            }

            #dateCreate {
                margin-right: 20px;
            }

            #name {
                margin-right: 40px;
            }
        }
        .btnAdd {
            width: 100px;
            height: 30px;
    
            font-size: 10px;

            margin-left: 7px;
        }
    }
}

