.menuIAB {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 65px;

    p {
        font-weight: 700;
        font-size: 40px;
        line-height: 53px;
        width: 410px;
        height: 53px;

        color: black;
        display: flex;
        margin: 15px 0 0 495px;
    }

    .logo {
        position: absolute;
        width: 65px;
        height: 65px;
        margin-left: 400px;
    }
}

@media (max-width: 1200px) {
    .menuIAB {
        width: 1200px;
        .logo {
            margin-left: 150px;
        }
        p {
            font-size: 35px;
            margin-left: 235px;
        }
        }
    }

@media (max-width: 992px) {
  .menuIAB {
        width: 992px;

        p {
            font-size: 30px;
            margin: 15px 0 0 180px;
        }
        .logo {

            img {
                width: 65px;
                height: 65px;
            }

            margin-left: 100px;
            margin-right: 650px;
        }
    }
}

@media (max-width: 768px) {
    .menuIAB {
        width: 768px;
    .logo {

        img {
            width: 65px;
            height: 65px;
        }

        margin-left: 50px;
        margin-right: calc(480px * 300px / 768px);
    }
    p {
        font-size: 30px;
        margin: 8px 0 0 calc(200px*768px/992px);
    }
}
}

@media (max-width: 480px) {
    .menuIAB {
            width: 480px;
        .logo {

            img {
                width: 55px;
                height: 55px;
            }

            margin-left: calc(480px * 120px / 768px);
            margin-right: calc(480px * 300px / 768px);
        }
        p {
            margin: 8px 0 0 calc(200px*768px/992px);
        }
    }
}

@media (max-width: 320px) {
    .menuIAB {
        width: 320px;
            .logo {
    
                img {
                    width: 45px;
                    height: 45px;
                }
    
                margin-left: calc(320px * 50px / 480px);
                margin-right: calc(320px * 140px / 480px);
            }
            
            p {
                    margin: 0;
                    font-size: 14px;
                    margin-left: 90px;
            }
    }
}

