.menuIAB {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 65px;

    p {
        font-weight: 700;
        font-size: 40px;
        line-height: 53px;
        width: 410px;
        height: 53px;

        color: black;
        display: flex;
        margin: 15px 0 0 495px;
    }

    .logo {
        position: absolute;
        width: 65px;
        height: 65px;
        margin-left: 400px;
    }
}

@media (max-width: 1200px) {
    .menuIAB {
        min-width: 992px;
        max-width: 100%;
        .logo {
            margin-left: calc(1200px * 400px / 1920px);
            margin-right: calc(1200px * 964px / 1920px);
        }
        p {
            font-size: calc(40px*1200px/1920px);
            margin: 15px 0 0 calc(525px*1200px/1920px);
        }
        }
    }

@media (max-width: 992px) {
  .menuIAB {
        min-width: 768px;
        .logo {
            margin-left: calc(992px * 250px / 1200px);
            margin-right: calc(992px * 590px / 1200px);
        }
        p {
            font-size: calc(25px*992px/1200px);
            margin: 15px 0 0 calc(350px*992px/1200px);
        }
       
  }
}

@media (max-width: 768px) {
    .menuIAB {
        min-width: 480px;
        max-width: 100%;
        .logo {
            margin-left: calc(768px * 206px / 992px);
            margin-right: calc(768px * 497px / 992px);
        }
        p {
            margin: 15px 0 0 calc(315px*768px/992px);
        }
       
    }
}

@media (max-width: 480px) {
    .menuIAB {
            width: 480px;
        .logo {

            img {
                width: 55px;
                height: 55px;
            }

            margin-left: calc(480px * 120px / 768px);
            margin-right: calc(480px * 300px / 768px);
        }
        p {
            margin: 8px 0 0 calc(200px*768px/992px);
        }
    }
}

@media (max-width: 320px) {
    .menuIAB {
        width: 320px;
            .logo {
    
                img {
                    width: 45px;
                    height: 45px;
                }
    
                margin-left: calc(320px * 50px / 480px);
                margin-right: calc(320px * 140px / 480px);
            }
            
            p {
                    margin: 0;
                    font-size: 14px;
                    margin-left: 90px;
            }
    }
}

