p {
    font-family: 'Segoe UI';
}

button {
    background: #ED3024;
    border-radius: 6px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 263px;
    height: 56px;
    cursor: pointer;
    text-align: center;
    margin: 16px 0 0 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .div__direct {
        margin: 16px 0 16px 18px;
    }


    .add__direct {
        margin: 16px 0 16px 16px;
    }

    .btnSvg {
        
        &__add, &__arrow {
            margin: 14px 10px 10px;
        }

        &__add {
            margin-right: 17px;
        }

        &__arrow {
            margin-right: 19px;
        }
    }
}

.head {
    margin: 84px 144px 35px 145px;
    width: 64px;
    height: 64px;
}

.admin {
    display: flex;
    align-items: center;
    text-align: center;
 p {
    margin: 53px 400px 0;
    width: 1120px;
    height: 53px;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #000000; 
    }
}

.card {
    width: 1200px;
    height: 400px;
    margin-left: 592px;
    display: flex;
    margin-top: 64px;
    margin-bottom: 65px;
    &__add, &__directory
    {

        p {
            font-weight: 600;
            font-size: 26px;
            line-height: 35px;

            display: flex;
            justify-content: center;
            text-align: center;

            color: black;

            
        }

    width: 353px;
    height: 400px;

    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    border-radius: 10px;

    }

    &__add {
        margin-right: 30px;
    }

    &__add:hover {
            border-color: #ED3024;
    }

    &__directory {
        .span__direct{
            margin: 16px 0 16px 18px;
        }
    }

    &__directory:hover {
        border-color: #ED3024;
}
}

@media (max-width: 1200px) {

    .admin {
        width: 1200px;
        display: flex;
        align-items: center;
        text-align: center;
        
        p {
            width: 1200px;
            margin: 0;
            font-size: 35px;
        }
    }

    .card {
        width: 1200px;
        margin-left: 232px;
    }
    
}


@media (max-width: 992px) {
    .admin {
        width: 992px;
        display: flex;
        align-items: center;
        text-align: center;

        p {
            margin: 0;
            font-size: 30px;
            }

         }

    .card {
        width: 992px;
        margin-left: 128px;
    }
} 

@media (max-width: 768px) {

    .admin {
        display: flex;
        align-items: center;
        text-align: center;

        p {
            margin: 0;
            width: 768px;
            height: 15px;
            font-size: 25px;
            
            }
         }

         .card {
            width: 740px;
            margin-left: 14px;
         }
}

@media (max-width: 480px) {

    .admin {
        display: flex;
        align-items: center;
        text-align: center;

        p {
            margin: 0;
            width: 480px;
            height: 15px;
            font-size: 18px;
            
            }
        }

    .card {
    
    margin: 0;
    width: 325px;
    height: 650px;
   
    .head {
        margin: auto;
        margin-top: 60px;
    }

            margin-top: 50px;
            margin-left: 77px;
            display: flex;
            flex-direction: column;
                    &__add, &__directory
                {
                    
                    width: 325px;
                    height: 650px;

                    button {
                        font-size: 12px;
                        width: 200px;
                        margin: 0;
                        margin-left: 62px;
                        margin-bottom: 0;
                        svg {
                            width: 22px;
                            height: 22px;
                
                        }
                    }

                    p {
                        font-size: 18px;
                    }
                    

                }
                &__add {
                    margin-bottom: 20px;
                }
            }
}

@media (max-width: 320px) {

    .admin {
        display: flex;
        align-items: center;
        text-align: center;

        p {
            margin: 0;
            width: 320px;
            height: 15px;
            font-size: 14px;
            margin-right: 5px;
            }

         }

    .card   {

        .head {
            margin: auto;
            margin-top: 50px;
        }

            width: 300px;
            height: 600px;

            margin: 0;
            margin-top: 55px;
            margin-left: 20px;

            display: flex;
            flex-direction: column;
                    &__add, &__directory
                {
                    
                    button {    
                        font-size: 11px;
                        width: 180px;
                        margin: 0;
                        
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                        margin-left: 50px;
                    }

                    width: 280px;
                    height: 300px;
                    p {
                        font-size: 16px;
                    }
                    

                }
                &__add {
                    margin-bottom: 20px;
                }
        }
}
